html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
        
}

section{
    background-image: linear-gradient(#0c3520, #173d2c);
    color: white;
}


nav{
    display: flex;
    justify-content: space-between;
    
}

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show{
    display: block;
}

li{
    /*width: 200px; */
    text-decoration: none;
}

footer{
    padding: 80px;
    background-color: blue;
    background-image: linear-gradient(#193024, #1f2c24);
    color: white;
    text-align: center;
}

h1{
    font-size: 90px;
    margin: 0px;
}

h2{
    font-size: 65px;
}

p{
    margin: 0px;
    font-size: 30px;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: white;
}

.subtext{
    font-size: 20px;
    font-weight: 300;
}

.subtextClick{
    font-size: 20px;
    font-weight: 300;
    text-decoration: underline;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

.hero{
    background-color: #263a30;
    background-image: linear-gradient(#054224, #0c3520);
    height: 100vh;
    color: white;
    font-size: 40px;
}

.heroArea{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.heroText{
    margin-left: 70px;
    margin-bottom: 200px;
}
.button{
    width: 188px;
    height: 55px;
    border-radius: 30px;
    background-color: #698394;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 6px;
    margin-top: 20px;
}

.button:hover{
    background-color: #a3c8e0;
}
.button:active{
    background-color: #698394;
}

.socials{
    padding-bottom: 190px;
}
.social{
    margin: 13px;
}

.logo{
    height: 80px;
    margin: 30px;
}

.sub_section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub_section_resume{
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-image: linear-gradient(#173d2c, #153122);
}

.sub_section_alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot{
    width: 300px;
    border-radius: 150px;
}

.headshotContainer{
    display: flex;
    align-items: center;
}

.projectContainer{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .projectContainer{
        display: flex;
        flex-wrap: wrap;
    }
}

#quote{
    font-size: 50px;
}

#projects{
    background-image: linear-gradient(#153122, #193023);
}

.projectCard{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197 195, 195);
    margin: 10px;
    background-color: #e6e6e6;
    color: black;
    border-radius: 5px;
}

.projectImage{
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

.projectLink{
    text-decoration: none;
    color: black;
}

.doc {
    align-items: center;
    width: 300%;
    height: 1000px;
}

.hamburger{
    display: none;
}

.hamburger:focus{
    outline: 0;
}

#topBTN {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: #68601a; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 20px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  #topBTN:hover {
    background-color: #555;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul{
        display: none;
        background-color: #064e296b;
        margin: 0px;
    }
    nav{
        display: flex;
        flex-direction: column-reverse;
        background-color: aliceblue;
    }
    .logo{
        display: none;
    }
}